<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.8.55/css/materialdesignicons.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='editor.css')}}">

</head>
<body>
  <div class="w3-container w3-neutral-grey">
    <h3>Latin Spell Checker</h3>
    <p>Document: Wild1559-Mt,Paris</p>
    <p>Page: 273</p>
    <p>Status: GT</p>
  </div>
  <div class="w3-container">
    <div>
      <div class="w3-card w3-pale-yellow">
      <div class="rawText w3-white w3-border-top">tamen laudem appetimus, vilipendi ægrè ferimus, & cæt.</div>
      <div class="cleanedText">tamen laudem appetimus , uilipendi aegre ferimus , etc</div>
      <div class="rawText w3-white w3-border-top">deinde proni ſumus ad iudicandum. Hæc tria Chriſtuus po</div>
      <div class="cleanedText">deinde proni sumus ad iudicandum . Haec tria 
        <div class="word wrong">Christuus
          <div class="dropdown">
              <div>Christus</div>
              <div>Christum</div>
              <div><a href="http://archives.nd.edu/cgi-bin/wordz.pl?keyword=Christuus" target="_blank">Ask a dictionary</a></div>
          </div>
        </div>
        potissimum 
      </div> 

      <div class="rawText w3-white w3-border-top">tiſsimùm in ſermone, quem in monte habuit, impugnauit:</div>
      <div class="cleanedText">in sermone , quem in monte habuit , impugnauit :</div>
    </div>
  </div>
</body> 
</html>